# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Environment
.env
.venv
env/
venv/
ENV/


# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# ramble install dir
.ramble/

# test results
results/
.results/
test_results/
__pycache__/
*.pyc

# Package/build directories
dist/
build/
*.egg-info/

# Model caches
.cache/
.sentence_transformers/
~/.cache/torch/
~/.cache/huggingface/

# Project specific
.ramble/
store/
*.pkl

# IDEs
.vscode/
.idea/
*.swp
.DS_Store.venv/
.zed/



# NLTK data directory (builds when necessary)
./data/nltk_data/tokenizers/punkt_tab/

# Ignore all .DS_Store files in the project
**/.DS_Store
